:root {
  --c1: #164773; /* cor principal */
  --c2: #d62323; /* cor secundaria */
  --ff1: 'Merriweather', serif; /* font-g */
  --ff2: 'Inconsolata', monospace; /* font-p */
}

* {
  font-family: var(--ff2);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
  
  &::selection {
    background: var(--c1);
    color: white;
  }

}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 1.4rem;
  }

  &::-webkit-scrollbar-track {
    background: black;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--c1);
  }
}

body {
  background: black;
  overflow-x: hidden;
  padding-left: 35rem;
}

section {
  min-height: 100vh;
  padding: 1rem;
}

.btn {
  padding: 0.7rem 3rem;
  background: var(--c1);
  color: white;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 2rem;

  i {
    padding: 0 0.5rem;
    font-size: 1.5rem;
  }

  &:hover {
    background: var(--c2);
    transform: scale(0.95);
    font-weight: bolder;
  }
}

.heading {
  text-align: center;
  margin: 0 6rem;
  font-size: 4rem;
  padding: 1rem;
  border-bottom: 0.1rem solid white;
  color: white;

  span {
    color: var(--c2);
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  background: var(--c1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;

  .photo-header img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    border-bottom: 1rem;
    border: 0.7rem solid var(--c2);
  }

  .photo-header .name-header {
    font-size: 3.5rem;
    color: white;
  }

  .photo-header .text-header {
    font-size: 2rem;
    color: white;
  }

  .nav-bar {
    width: 100%;

    ul {
      list-style: none;
      padding: 1rem 3rem;

      li {
        a {
          display: block;
          padding: 1rem;
          margin: 1.5rem 0;
          background: white;
          color: var(--c1);
          font-size: 2rem;
          border-radius: 5rem;

          &:hover {
            background: var(--c2);
            transform: scale(0.95);
            font-weight: bolder;
          }
        }
      }
    }
  }
}

#i-menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: var(--c1);
  color: var(--c2);
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
}

.home {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0rem 15rem;

  h3 {
    font-size: 2.5rem;
    color: var(--c2);
  }

  h1 {
    font-size: 5rem;
    color: white;
  }

  span {
    color: var(--c1);
  }

  p {
    font-size: 2rem;
    color: white;
    padding: 1rem 0;
  }
}

.sobreMim {
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0rem;
  }

  .row .info {
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;

    h3 {
      font-size: 2rem;
      color: var(--c1);
      padding: 1rem 0;
      font-weight: normal;
    }

    span {
      color: var(--c2);
      padding: 0 0.5rem;
    }
  }

  .row .counter {
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .box {
      width: 20rem;
      background: var(--c1);
      text-align: center;
      padding: 2rem;
      margin: 2rem;

      span {
        font-size: 4rem;
        color: var(--c2);
      }

      h3 {
        font-size: 2rem;
        color: white;
      }
    }
  }
}

.projetos {
  .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;

    .box {
      width: 20rem;
      height: 26rem;
      margin: 2rem;
      overflow: hidden;
      cursor: pointer;

      img {
        width: 100%;
        object-fit: cover;
      }

      &:hover img {
        transform: scale(1.2);
      }
    }
  }
}

.contato {
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .content {
      flex: 1 1 30rem;
      padding: 4rem;
      margin-bottom: 0rem;
    }

    form {
      flex: 1 1 30rem;
      padding: 2rem;
      margin: 2rem;
      margin-bottom: 4rem;

      .box {
        padding: 1.5rem;
        margin: 1rem 0;
        background-color: white;
        color: blue;
        text-transform: none;
        font-size: 1.7rem;
        width: 100%;

        &::placeholder {
          text-transform: capitalize;
        }
      }

      .textArea {
        padding: 1.5rem;
        margin: 1rem 0;
        background-color: white;
        color: blue;
        text-transform: none;
        font-size: 1.7rem;
        width: 100%;
        height: 15rem;
        resize: none;
      }
    }

    .content .title {
      color: white;
      font-size: 3rem;
      padding-bottom: 2rem;

      span {
        color: var(--c2);
      }
    }

    .content .info h3 {
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
        color: white;
        font-size: 2rem;
        padding: 1rem 0;
        font-weight: normal;
      }

      i {
        padding-right: 1rem;
        color: var(--c1);
        font-size: 3rem;
        padding-bottom: 2rem;
      }
    }
  }
}

/* media queries */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
    overflow-x: hidden;
  }

  .home {
    padding: 1rem 4rem;
  }

  .projetos .box-container {
    width: 100%;
  }
}

@media (max-width: 991px) {
  header {
    left: -120%;
  }

  #i-menu {
    display: block;
  }

  header.toggle {
    left: 0%;
  }

  body {
    padding: 0;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .projetos .box-container .box {
    min-width: 60%;
  }
}

@media (max-width: 400px) {
  header {
    width: 100vw;
  }

  .heading {
    margin: 0 3rem;
  }

  .sobreMim .row .counter .box {
    width: 100%;
  }

  .projetos .box-container .box {
    width: 100%;
  }

  .contato .row form {
    margin: 3rem 0;
  }
}